#root {
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px;
}
main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;background-color: #F4F4F2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 60px
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#articles, #article, #comments, #users {
  padding: 5px;
  width: 90%
 
}
.header > a {
  text-decoration: none;
}